*{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 70vw;
    border: 2px solid rebeccapurple;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.box{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}